$primary-color : #ffffff;
$secondary-color : #e5e5e5;
$border-radius : 6px;
$border-size : 1px;
$standart-button-margin : 5px;
$standart-button-padding : $standart-button-margin;
$links-text-decoration: none;
$dislay-popup: none;
$main-font: segoe, sans-serif;
$menu-font: 14px;
$regular-font-size: 12px;
$h1: 23px;
$blue-text: #1574af;
$margin-for-friend: 10px;